body{
    background: linear-gradient(to right,#5149EC,#E23BF3,#F1525E);
}

#body{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    position: relative;
    border-radius: 10px;
    border-color: rgb(255, 255, 255,0.06);
    box-shadow: 2px 2px 19px  rgb(31,38,135,0.25);
    top: 70px;
    height: 400px;
}
#body > .item{
    width: 50%;
    margin: 5px;
    color: white;
}

.user{
    position: relative;
    right: 45px;

}
.pass{
    position: relative;
    right: 45px;
}
.input{
    padding: 4px;
}
#username{
   border: none;
   outline: none;
   border-bottom: 1px solid white;
   background: transparent;
   color: white;
}

button{
    border-radius: 25px;
    padding: 10px;
    width: 140px;
    color: white;
    border: none;
    line-height: 10px;
    cursor: pointer;
    opacity: 0.9;
    background: rgb(255, 255, 255,0.06);
    box-shadow: 3px 3px 19px  rgb(31,38,135,0.25);
    border-left: 1px solid rgb(255, 255, 255,0.12);
    border-top: 1px solid rgb(255, 255, 255,0.12);
    outline: none;
}
button:hover{
    box-shadow: 2px 2px 15px 4px rgb(255, 255, 255,0.2),-2px -2px 15px 4px rgb(255, 255, 255,0.2);
}
.forgot a{
    margin-top: 0px;
    position: relative;
    bottom: 30px;
    color: white;
    text-decoration: none;
}
.f{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
