h3{
    background-color: red;
    color: green;
    display : inline-block;
    width: 200px;
    height: 100px;
    text-align: center;
    position:relative;
    left:40%;
    line-height: 100px;

}
